<app-header></app-header>
<!--Aquí la animacion del yogurt -->
<section class="products">
    <div class="product-batido">
      <img src="assets/img/product/batido/Fresa/batido_fresa_producto.png" alt="yogurt-batido" title="yogurt batido" class="product-img">
      <div class="product">
        <img src="assets/img/product/batido/Fresa/batido_fresa_enfrente.png" alt="yogurt-batido" title="yogurt batido" class="yogurt-batido-splash2">
      </div>
      <p class="text-product">batido</p>
    </div>
    <div class="product-bebible">
      <img src="assets/img/product/bebible/Fresa/bebible_fresa_producto.png" alt="yogurt-bebible" title="yogurt bebible" class="product-img">
      <div class="product">
        <img src="assets/img/product/bebible/Fresa/bebible_fresa_frente.png" alt="yogurt-bebible" title="yogurt bebible" class="yogurt-bebible-splash2">
        <img src="assets/img/product/bebible/Fresa/bebible_fresa_atras.png" alt="yogurt-bebible" title="yogurt bebible" class="yogurt-bebible-splash1">
      </div>
      <p class="text-product">bebible</p>
    </div>
</section>
<!-- fin sección -->
